<app-hero-visual img="https://picsum.photos/id/20/1024/400/"></app-hero-visual>


<section class="container">
	<h2>{{this.title}}</h2>
	<h3>User id: {{this.id}}</h3>
	<div debug>
		<div class="hstack gap-2">
			<a class="btn btn-dark"
				href="./user/2b40c6d0-9426-40a6-8479-6f274c64ded7">2b40c6d0-9426-40a6-8479-6f274c64ded7</a>

			<a class="btn btn-dark"
				href="./user/2b40c6d0-0729-45b2-83d8-e701e71f686d">2b40c6d0-0729-45b2-83d8-e701e71f686d</a>

			<a class="btn btn-dark"
				href="./user/2b40c6d0-2aaa-4af4-b3fa-1459b3207567">2b40c6d0-2aaa-4af4-b3fa-1459b3207567</a>

		</div>
	</div>

	<div *ngIf="this.user">
		<h2>Info attendee</h2>
		<p>
			FirstName: {{this.user.firstName}}<br />
			LastName: {{this.user.lastName}}<br />
			Company: {{this.user.company}}
		</p>
	</div>



	<h3>Lorem ipsum</h3>
	<p>


		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ex orci. Phasellus magna ante, ullamcorper
		non
		leo in, fermentum efficitur felis. Donec vitae mattis erat. Sed vel odio arcu. Praesent porta nulla et
		sapien
		interdum, id placerat leo semper. Mauris eget consequat sem. Suspendisse tincidunt et est sit amet laoreet.
		Vivamus nec rutrum enim. In malesuada nibh non tempor imperdiet. In dignissim, felis in tincidunt consequat,
		metus augue euismod diam, ut eleifend turpis nisi vitae ipsum. Nulla mattis, magna at convallis mattis, sem
		justo viverra ligula, maximus dignissim dolor nunc id arcu. Nullam auctor, ligula ac cursus lobortis, sapien
		mauris lacinia felis, in ultrices mi dolor quis arcu. Vivamus iaculis tincidunt lobortis. In hac habitasse
		platea dictumst.</p>
</section>
