<app-hero-visual img="https://picsum.photos/id/26/1024/400/"></app-hero-visual>

<section class="container">
	<h2>{{this.title}}</h2>
	<p class="alert alert-danger">Om dit concept te kunnen testen is deze pagina zichtbaar. Het zou het natuurlijk
		"raar" zijn om gebruikers op deze manier te ontsluiten!</p>
	<p>Hieronder zijn 10 gebruikers die je kunt gebruiken om het concept te testen</p>

	<h3>List of 10 users</h3>
	<div *ngIf="this.users">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">username</th>
					<th scope="col">password</th>
					<th scope="col">Goto QR page</th>
					<th scope="col">Login as</th>
					<th scope="col">QR</th>
					<th scope="col">sha256</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users; let i = index">
					<th scope="row">{{i+1}}</th>
					<td>{{user.userName}}</td>
					<td>1234</td>
					<td><button class="btn btn-dark" (click)="gotoQR(user)">QR Page {{user.firstName}}</button></td>
					<td><button class="btn btn-dark" (click)="login(user)">Login is as {{user.firstName}}</button></td>
					<td>
						<button class="btn btn-outline-dark text-nowrap" type="button" data-bs-toggle="collapse"
							attr.data-bs-target="#collapseExample{{user._id}}" aria-expanded="false"
							aria-controls="collapseExample">
							<app-icons icon="fa-qrcode"></app-icons>
						</button>

						<div class="collapse" id="collapseExample{{user._id}}">
							<div class="card card-body">
								<a href="{{this.toUserUrl(user)}}">
									<div [innerHTML]="this.convertQR(user)"></div>
								</a>
							</div>
						</div>
					</td>
					<td>{{this.convert2Sha256(user.userName)}}</td>
				</tr>

			</tbody>
		</table>
	</div>

</section>
