<app-hero-visual></app-hero-visual>
<section class="container">
	<h2>{{this.title}}</h2>
	<p>RawWorks en Interstellar bundelen hun krachten om bedrijven een uniek aanbod te presenteren: een grondige analyse
		van de bestaande IT-infrastructuur, gevolgd door op maat gemaakte aanpassingen voor verbeterde prestaties,
		veiligheid en schaalbaarheid. Door de synergie tussen RawWorks' expertise in IT-infrastructuur en Interstellar's
		cloudoplossingen, bieden ze een holistische benadering die bedrijven in staat stelt om flexibel te opereren en
		snel te reageren op veranderende marktomstandigheden. Het resultaat is een robuuste en toekomstbestendige
		IT-omgeving die de basis legt voor succes op lange termijn.</p>
</section>

<section class="container my-5">
	<app-cta title="Maak een afspraak"></app-cta>
</section>

<section class="container">
	<img src="assets/images/fakedashboard.jpeg" width="100%">
</section>
